@if (Context.User.Identity.IsAuthenticated)
{
    <li class="nav-item">
        <a class="nav-link text-black"
           asp-controller="Empleados"
           asp-action="Perfil">
            Perfil
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-black"
           asp-controller="Empleados"
           asp-action="Compis">
            Compañeros
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-danger"
           asp-controller="Managed"
           asp-action="Logout">
            Logout <span class="text-primary">@Context.User.Identity.Name</span>
        </a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-black"
           asp-controller="Empleados"
           asp-action="Index">
            Empleados
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-black"
           asp-controller="Empleados"
           asp-action="Perfil">
            Login
        </a>
    </li>
}