<h1>Log In Empleados</h1>

<h2 class="text-primary">
    @ViewData["MENSAJE"]
</h2>

<form method="post">
    <label class="form-label mt-3">Usuario</label>
    <input type="text" name="username" class="form-control" />
    <label class="form-label mt-3">Password</label>
    <input type="text" name="password" class="form-control" />
    <button class="btn btn-dark mt-3">
        Login
    </button>
</form>