<h1 class="text-primary">
    Azure Cosmos DB
</h1>

<form method="post">
    <button class="btn btn-danger" name="action"
            value="start">
        Generar recursos Cosmos DB
    </button>
</form>

<h2 class="text-danger">
    @ViewData["MENSAJE"]
</h2>
