<h1>Migración XML to Azure Storage</h1>

<form method="post">
    <button class="btn btn-danger" name="algo" value="algo">
        Migrar alumnos a Storage
    </button>
</form>

<h2 class="text-primary">@ViewData["MENSAJE"]</h2>
