<h1>Menú hospitales API</h1>

<ul class="list-group">
    <li class="list-group-item">
        <a asp-controller="Hospitales"
           asp-action="Cliente">
            Client Request
        </a>
    </li>
    <li class="list-group-item">
        <a asp-controller="Hospitales"
           asp-action="Servidor">
            Server Request
        </a>
    </li>
</ul>