@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Super página de jakios jejeje</h1>
    <form method="post"
          action="https://localhost:7121/Tienda/Productos">
        <input type="hidden" name="direccion" value="Casa Hacker" />
        <input type="hidden" name="producto"
               value="IPhone 1.200€" />
        <input type="hidden" name="producto"
               value="Ordenador Gaming 2.300€" />
        <input type="hidden" name="producto"
               value="Ford 40.000€" />
        <input type="hidden" name="producto"
               value="Tesla 100.000€" />
        <button class="btn btn-danger">hora del jakio</button>
    </form>
    <img src="https://i.kym-cdn.com/photos/images/newsfeed/001/584/964/fdd.jpg_large"
         style="width:600px; height:500px" />
</div>
