<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://grupofuncioneslunes2024alejo.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/041e367b-aa12-4405-a628-63f631c2d012/resourcegroups/rg-lunes/providers/Microsoft.Web/sites/grupofuncioneslunes2024alejo</ResourceId>
    <UserName>$grupofuncioneslunes2024alejo</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://grupofuncioneslunes2024alejo.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>